.body_background 
{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.newstatesman.com%2Fculture%2Ffilm%2F2019%2F05%2Fwhy-three-viewings-avengers-endgame-was-nine-hours-well-spent&psig=AOvVaw2Ea7wFTZBZrSPKiOsNLh4Y&ust=1609493225843000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLDomtLz9-0CFQAAAAAdAAAAABAq");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
